<section class="<%= section_class %>">
  <div class="<%= div_edit_class %>">
  <h1 class="<%= h1_edit_class %>">Editando tipo</h1>

  <%= render "form" , control_unit_type: @control_unit_type %>

    <br>

    <div class="<%= div_links_edit_class %>">
      <%= link_to "Mostrar este tipo" , @control_unit_type, class: link_edit_class %>
      <span>|</span>
      <%= link_to "Regresar a tipo" , control_unit_types_path, class: link_edit_class %>
    </div>
  </div>
</section>
