<section class="<%= section_class %>">
  <div class="<%= div_edit_class %>">
  <h1 class="<%= h1_edit_class %>">Editando estado</h1>

  <%= render "form" , control_unit_status: @control_unit_status %>

    <br>

    <div class="<%= div_links_edit_class %>">
      <%= link_to "Mostrar este estado" , @control_unit_status, class: link_edit_class %>
      <span>|</span>
      <%= link_to "Regresar a estados" , control_unit_statuses_path, class: link_edit_class %>
    </div>
  </div>
</section>
