<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h1 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Proyecto: <%= @control_unit_sub_type_project.project.name %></h1>
    <h1 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Nuevo extra para subtipo: <%= @control_unit_sub_type_project.control_unit_sub_type.name %></h1>

    <%= render "extras/form", extra: @extra %>

    <div class="mt-6">
      <%= link_to "Regresar a extras", control_unit_sub_type_project_path(@control_unit_sub_type_project), class: "text-primary-700 hover:text-primary-900 dark:text-primary-500 dark:hover:text-primary-700" %>
      <br>
      <%= link_to "Regresar a subtipo", control_unit_sub_type_path(@control_unit_sub_type_project.control_unit_sub_type), class: "text-primary-700 hover:text-primary-900 dark:text-primary-500 dark:hover:text-primary-700" %>
    </div>
  </div>
</section>
