<section class="<%= section_class %>">
  <div class="<%= div_edit_class %>">
  <h1 class="<%= h1_edit_class %>">Editando tipo</h1>

  <%= render "form" , tipo_de_identificacion_cliente: @tipo_de_identificacion_cliente %>

    <br>

    <div class="<%= div_links_edit_class %>">
      <%= link_to "Mostrar este tipo" , configurations_tipo_de_identificacion_cliente_path(@tipo_de_identificacion_cliente), class: link_edit_class %>
      <span>|</span>
      <%= link_to "Regresar a tipos" , configurations_tipo_de_identificacion_clientes_path, class: link_edit_class %>
    </div>
  </div>
</section>
