<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
  <h1 class="text-6xl mb-4 text-xl font-bold text-gray-900 dark:text-white"><%= @tipo_de_identificacion_cliente.nombre %></h1>

  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-2">

    <%= render @tipo_de_identificacion_cliente %>

    <div class="flex items-center justify-start space-x-4 mt-6">
      <%= link_to "Editar este tipo", edit_configurations_tipo_de_identificacion_cliente_path(@tipo_de_identificacion_cliente), class: "text-primary-700 hover:text-primary-900 dark:text-primary-500 dark:hover:text-primary-700" %>
      <span>|</span>
      <%= link_to "Regresar a tipos", configurations_tipo_de_identificacion_clientes_path, class: "text-primary-700 hover:text-primary-900 dark:text-primary-500 dark:hover:text-primary-700" %>
    </div>
    <div class="mt-4">
      <%= button_to "Eliminar este tipo", @configurations_tipo_de_identificacion_cliente_path, method: :delete, form: { data: { turbo_confirm: '¿Estás seguro?' } }, class: "text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-200 dark:focus:ring-red-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
    </div>
  </div>
</section>
