<%= turbo_frame_tag 'control_unit_sub_type_projects_turbo_frame_tag' do %>
  <h1 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">Agregar precios y extras específicos al subtipo</h1>
  <h2 class="mb-2 inline-flex items-center text-lg font-bold text-gray-900 dark:text-white space-x-1">
    <span>Para agregar un precio al subtipo por proyecto,</span> 
    <b> seleccione precio</b> 
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path fill-rule="evenodd" d="M7 6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M2 11a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z" clip-rule="evenodd"/>
      <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/>
    </svg> 
    <b>en acciones</b>
  </h2>
  <br>
  <h2 class="mb-4 inline-flex items-center text-lg font-bold text-gray-900 dark:text-white space-x-1">
    <span>Para agregar extras especificas al subtipo,</span>
    <b>seleccione agregar extra</b>
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
    </svg>
    <b>en acciones</b>
  </h2>

  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-4 py-3">#</th>
          <th scope="col" class="px-4 py-3">Proyecto</th>
          <th scope="col" class="px-4 py-3">Precio(Q)</th>
          <th scope="col" class="px-4 py-3">Precio($)</th>
          <th scope="col" class="px-4 py-3">Fecha de creación</th>
          <th scope="col" class="px-4 py-3">Fecha de actualización</th>
          <!-- Más columnas según sea necesario -->
          <th scope="col" class="<%= th_td_class %>"> Acciones</th>
        </tr>
      </thead>
      <tbody id="control_unit_sub_type_project_content">

      <% @control_unit_sub_type_projects.each_with_index do |control_unit_sub_type_project, index| %>
        <tr class="border-b dark:border-gray-700">
          <td class="px-4 py-3"><%= index += 1 %></td>
          <td class="px-4 py-3"><%= control_unit_sub_type_project.project.name %></td>
          <td class="px-4 py-3"><%= control_unit_sub_type_project.precio&.format(thousands_separator: ",") %></td>
          <td class="px-4 py-3"><%= control_unit_sub_type_project.precio_dollar&.format(thousands_separator: ",") %></td>
          <td class="px-4 py-3"><%= l(control_unit_sub_type_project.created_at, format: :short) %></td>
          <td class="px-4 py-3"><%= l(control_unit_sub_type_project.updated_at, format: :short) %></td>
          <!-- Más celdas según sea necesario -->
          <td class="px-4 py-3">
            <div class="flex space-x-2"> <!-- Añade un poco de espacio entre los ítems -->
              <%= link_to control_unit_sub_type_project, class: 'inline-flex', data: {tooltip_target: control_unit_sub_type_project.id.to_s + 'a',turbo_frame: "_top"} do %>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z" />
                <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            <% end %>
            <button data-tooltip-target="<%= control_unit_sub_type_project.id.to_s + 'c' %>" data-modal-target="<%= "editModal#{control_unit_sub_type_project.id.to_s + 'c'}" %>" data-modal-toggle="<%= "editModal#{control_unit_sub_type_project.id.to_s + 'c'}" %>" class="inline-flex" type="button">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M7 6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 11a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z" clip-rule="evenodd"/>
                <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/>
              </svg>
            </button>
            <%= link_to new_control_unit_sub_type_project_extra_path(control_unit_sub_type_project), class: 'inline-flex', data: {tooltip_target: control_unit_sub_type_project.id.to_s + 'b',turbo_frame: "_top"} do %>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
            </svg>
          <% end %>
            </div>
            <div id="<%= control_unit_sub_type_project.id.to_s + 'a' %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Ver extras
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div id="<%= control_unit_sub_type_project.id.to_s + 'c' %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Editar precio
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div id="<%= control_unit_sub_type_project.id.to_s + 'b' %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Agregar extra
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

        <!-- Main modal -->
        <div id="<%= "editModal#{control_unit_sub_type_project.id.to_s + 'c'}" %>" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
          <%= form_with(model: control_unit_sub_type_project, data: {turbo: false}) do |form| %>
            <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
              <!-- Modal content -->
              <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      Actualizar subtipo: <%= control_unit_sub_type_project.control_unit_sub_type.name %> de proyecto: <%= control_unit_sub_type_project.project.name %>
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="<%= "editModal#{control_unit_sub_type_project.id.to_s + 'c'}" %>">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Cerrar</span>
                  </button>
                </div>
                <!-- Modal body -->
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                  <div>
                    <%= form_label(form, :precio) %>
                    <%= form.text_field :precio, class: field_class %>
                  </div>
                  <div>
                    <%= form_label(form, :precio_dollar) %>
                    <%= form.text_field :precio_dollar, class: field_class %>
                  </div>
                </div>
            <%= form.submit 'Actualizar', class: submit_class %>
            
                      <% end %>
        </div>
  </div>
  </div>

          </td>

        </tr>

      <% end %>

      </tbody>
    </table>
  </div>
<% end %>
