<div class="flex">
  <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
  </button>
  <aside id="logo-sidebar" 
        class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 hover-enabled"
        data-controller="sidebar-hover"
        ata-sidebar-hover-target="sidebar">
    <div class="main-container h-full px-2 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <ul id="main-content" class="flex space-x-2 mb-5 transition-all duration-300" data-sidebar-target="headerContainer">
        <%= render partial: 'layouts/partials/toggle_menu' %>
        <%= link_to root_path, class: "flex items-center ps-2.5", 
                              data: { 
                                sidebar_target: "logo",
                                controller: "sidebar",
                                action: "click->sidebar#navigateByCurrentView"
                              } do %>
          <%= image_tag 'login/logo.png', alt: "LMG Logo", class: "mr-4 h-11", id: "logo-pic-sidebar" %>
        <% end %>
        <%= render partial: 'layouts/partials/toggle_theme' %>
      </ul>
      <ul class="space-y-2 font-medium">
        <li>
          <span class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap sidebar-text">Usuario: <%= @user.username %></span>
          </span>
        </li>

        <div data-controller="sidebar" 
            data-sidebar-role-value="<%= @user&.role&.name&.downcase %>"
            data-turbo-permanent>
          <%= render(AdminSidebarComponent.new()) %>
          <%= render(SellsSidebarComponent.new(user: @user)) %>
          <%= render(CheckingAccountSidebarComponent.new(user: @user)) %>
        </div>

        <li>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap sidebar-text">Cerrar Sesión</span>
          <% end %>
        </li>
      </ul>
    </div>
  </aside>
</div>