<% if listado_de_precio_archivo.new_record? %>
<% url = ventas_listado_de_precio_archivos_path %>
<% else %>
<% url = ventas_listado_de_precio_archivo_path(listado_de_precio_archivo) %>
<% end %>
<%= form_with(model: listado_de_precio_archivo, url:, class: form_class, data:{controller: "form-protection"}) do |form| %>
  <% if listado_de_precio_archivo.errors.any? %>
    <div class=<%= div_error_class %>>
      <h2><%= pluralize(listado_de_precio_archivo.errors.count, "error") %> para guardar este listado de precio archivo:</h2>

      <ul>
        <% listado_de_precio_archivo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class=<%= div_field_form_class %>>
    <%= form_label(form, :nombre) %>
    <%= form.text_field :nombre, class: field_class %>
  </div>

  <div class=<%= div_field_form_class %>>
    <%= form_label(form, :fecha_de_listado) %>
      <%= datepicker_field(form, :fecha_de_listado) %>
  </div>

        <!-- ARCHIVO ATTACHMENT -->
        <div class=<%= div_field_form_class %>>
          <%= form.label :archivo, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>

          <% if listado_de_precio_archivo.persisted? && listado_de_precio_archivo.archivo.attached? %>
          <% if listado_de_precio_archivo.archivo.content_type=='application/pdf' %>
            <button data-modal-target="ver-plano-modal" data-modal-toggle="ver-plano-modal"
              class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="button">
              Ver PDF
            </button>
            <% elsif listado_de_precio_archivo.archivo.content_type.start_with?('image/') %>
              <button data-modal-target="ver-plano-modal" data-modal-toggle="ver-plano-modal"
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button">
                Ver Imagen
              </button>
              <% else %>
                <%= link_to 'No se puede visualizar -> Descargar Archivo' , rails_blob_path(listado_de_precio_archivo.archivo,
                  disposition: 'attachment' ) %>
          <% end %>
          <!-- Extra Large Modal -->
      <div id="ver-plano-modal" tabindex="-1"
      class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-7xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">
              Archivo
            </h3>
            <button type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="ver-plano-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Cerrar</span>
            </button>
          </div>
          <!-- Modal body -->
          <% if listado_de_precio_archivo.archivo.attached? %>
          <div class="flex items-center space-x-4 p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
            <%= link_to 'Abrir en otra ventana', rails_blob_path(listado_de_precio_archivo.archivo, disposition: 'inline'), target: '_blank', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-1 text-xs text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'  if listado_de_precio_archivo.archivo.attached? %>
            <%= link_to 'Descargar Archivo', rails_blob_path(listado_de_precio_archivo.archivo, disposition: 'attachment'), class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-1 text-xs text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'  if listado_de_precio_archivo.archivo.attached? %>
          </div>
            <% if listado_de_precio_archivo.archivo.content_type=='application/pdf' %>
              <iframe
                src="<%= rails_blob_path(listado_de_precio_archivo.archivo, disposition: 'inline') if listado_de_precio_archivo.archivo.attached? %>"
                style="width:100%; height:85vh; border:none;"></iframe>
              <% elsif listado_de_precio_archivo.archivo.content_type.start_with?('image/') %>
              <div class="flex justify-center items-center h-[85vh] overflow-auto">
                <%= image_tag listado_de_precio_archivo.archivo,  class: "h-auto max-w-full" %>
              </div>
                  <% else %>
                    <%= link_to 'No se puede visualizar -> Descargar Archivo' , rails_blob_path(listado_de_precio_archivo.archivo,
                      disposition: 'attachment' ) %>
                      <% end %>
                        <% else %>
                          <p class="text-gray-700 dark:text-gray-400">No hay archivo adjunto</p>
                          <% end %>
                          <div class="flex items-center space-x-4 p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                          </div>
        </div>
      </div>
      </div>
          <% end %>
          <% if listado_de_precio_archivo.new_record? %>
          <%= form.file_field :archivo, accept: '.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
          <% end %>
        </div>
        <!-- ARCHIVO ATTACHMENT -->

  <div>
    <%= form.submit class: [submit_class, "submitButton"] %>
  </div>
<% end %>
