<%= turbo_stream.append :control_units_content  do%>
                  <% if @order == 'asc' %>
                    <% index = 0 %>
                  <% else %>
                    <% index = -1 * (@q.result(distinct: true).count + 1) %>
                  <% end %>
                  <% @control_units.each do |control_unit| %>
                    <% type = ControlUnitType.find_by(id: control_unit.control_unit_type_id) %>
                    <% sub_type = ControlUnitSubType.find_by(id: control_unit.control_unit_sub_type_id) %>
                    <tr class="border-b dark:border-gray-700">
                      <td class="<%= th_td_class %>"><%= ((index + 1) + ((@pagy.page - 1) * @pagy.limit)).abs %></td>
                      <% index += 1 %>
                      <td class="px-4 py-3"><%= highlight(control_unit.code, params.dig(:q, :code_or_control_unit_type_or_control_unit_sub_type_or_control_unit_status_name_cont)) %></td>
                      <td class="px-4 py-3"><%= highlight(control_unit.type&.name, params.dig(:q, :code_or_control_unit_type_or_control_unit_sub_type_or_control_unit_status_name_cont)) %></td>
                      <td class="px-4 py-3"><%= highlight(control_unit.sub_type&.name, params.dig(:q, :code_or_control_unit_type_or_control_unit_sub_type_or_control_unit_status_name_cont)) %></td>
                      <td class="px-4 py-3">
                        <% if control_unit&.control_unit_status&.color %>
  <span class="inline-block rounded-full text-white px-2 py-1" style="background-color: <%= control_unit&.control_unit_status&.color %>;">
  <%=control_unit&.control_unit_status&.name%>
  </span>
<% else %>
<%= highlight(control_unit&.control_unit_status&.name, params.dig(:q, :code_or_control_unit_type_or_control_unit_sub_type_or_control_unit_status_name_cont)) %>
<% end %>
                      </td>

                      <td class="px-4 py-3"><%= User.find_by(id: control_unit&.versions&.last&.whodunnit)&.username %></td>
                      <td class="px-4 py-3"><%= l(control_unit.created_at, format: :short) %></td>
                      <td class="px-4 py-3"><%= l(control_unit.updated_at, format: :short) %></td>
                      <!-- Más celdas según sea necesario -->
                      <td class="px-4 py-3">
                        <div class="flex space-x-2"> <!-- Añade un poco de espacio entre los ítems -->
                          <%= link_to control_unit_path(control_unit), class: 'inline-flex', data: {tooltip_target: control_unit.code + '1', turbo_frame: "_top"} do %>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z"/>
                              <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                            </svg>
                          <% end %>
                          <%= link_to edit_control_unit_path(control_unit), class: 'inline-flex', data: {tooltip_target: control_unit.code + '2',turbo_frame: "_top"} do %>
                          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.8 17.8-6.4 2.1 2.1-6.4m4.3 4.3L19 9a3 3 0 0 0-4-4l-8.4 8.6m4.3 4.3-4.3-4.3m2.1 2.1L15 9.1m-2.1-2 4.2 4.2"/>
                          </svg>
                          <% end %>
                          <%= link_to versions_control_unit_path(control_unit), class: 'inline-flex', data: {tooltip_target: control_unit.code + '3',turbo_frame: "_top"} do %>
                          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4c0 .6-.4 1-1 1H5m8 7.5 2.5 2.5M19 4v16c0 .6-.4 1-1 1H6a1 1 0 0 1-1-1V8c0-.4.1-.6.3-.8l4-4 .6-.2H18c.6 0 1 .4 1 1Zm-5 9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                          </svg>
                        <% end %>
                        </div>
                        <div id="<%= control_unit.code + '1'%>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                          Ver
                          <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                        <div id="<%= control_unit.code + '2'%>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                          Editar
                          <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                        <div id="<%= control_unit.code + '3'%>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                          Auditar
                          <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>

                      </td>
                      
                    </tr>
                  <% end %>
<% end %>

<% if @pagy.next.present?%>
  <%= turbo_stream.replace :pagination do%>
    <%= turbo_frame_tag :pagination, loading: :lazy,
                          src: project_control_units_path(order: @order, project_id: @project.id, format: :turbo_stream, page: @pagy&.next, q: @query) %>
  <% end %>
<% end %>