<section class="<%= section_class %>">
  <div class="p-2">
    <h1 class="<%= h1_edit_class %>">Editando Cliente</h1>

    <%= render "form", client: @client %>

    <div class="<%= div_links_edit_class %>">
      <%= link_to "Mostrar este cliente", @client, class: link_edit_class %>
      <span>|</span>
      <%= link_to "Regresar a clientes", clients_path, class: link_edit_class %>
    </div>
  </div>
</section>
