<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
  <h1 class="text-3xl mb-4 font-bold text-gray-900 dark:text-white">Subtipo</h1>
  <h1 class="text-2xl mb-4 font-bold text-gray-900 dark:text-white"><%= @control_unit_sub_type.name %></h1>

    <%= render @control_unit_sub_type %>

    <div class="flex items-center justify-start space-x-4 mt-6">
      <%= link_to "Editar este subtipo", edit_control_unit_sub_type_path(@control_unit_sub_type), class: "text-primary-700 hover:text-primary-900 dark:text-primary-500 dark:hover:text-primary-700" %>
      <span>|</span>
      <%= link_to "Regresar a subtipos", control_unit_sub_types_path, class: "text-primary-700 hover:text-primary-900 dark:text-primary-500 dark:hover:text-primary-700" %>
    </div>
    <div class="mt-4">
      <%= button_to "Eliminar este subtipo", @control_unit_sub_type, method: :delete, form: { data: { turbo_confirm: '¿Estás seguro?' } }, class: "text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-200 dark:focus:ring-red-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
    </div>
  </div>
  <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
    <%= turbo_frame_tag 'control_unit_sub_type_projects_turbo_frame_tag', src: control_unit_sub_type_control_unit_sub_type_projects_path(@control_unit_sub_type) %>

</section>
