<div id="<%= dom_id boundary %>">
  <p>
    <strong>Es:</strong>
    <%= boundary.station %>
  </p>

  <p>
    <strong>Po:</strong>
    <%= boundary.observed_point %>
  </p>

  <p>
    <strong>Azimut:</strong>
    <%= boundary.azimuth %>
  </p>

  <p>
    <strong>Distancia:</strong>
    <%= boundary.distance %>
  </p>

  <p>
    <strong>Colindancia:</strong>
    <%= boundary.neighbor %>
  </p>

</div>
