<%= form_with(model: boundary, data:{controller: "form-protection"}) do |form| %>
  <% if boundary.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(boundary.errors.count, "error") %> para este lado del polígono:</h2>

      <ul>
        <% boundary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :station, style: "display: block" %>
    <%= form.number_field :station %>
  </div>

  <div>
    <%= form.label :observed_point, style: "display: block" %>
    <%= form.number_field :observed_point %>
  </div>

  <div>
    <%= form.label :azimuth, style: "display: block" %>
    <%= form.text_field :azimuth, data: { controller: "azimut" } %>
  </div>

  <div>
    <%= form.label :distance, style: "display: block" %>
    <%= form.text_field :distance %>
  </div>

  <div>
    <%= form.label :neighbor, style: "display: block" %>
    <%= form.text_field :neighbor %>
  </div>

  <div>
    <%= form.submit class: "submitButton"%> 
  </div>
<% end %>
