<%= form.fields_for :control_unit_sale_detail do |detail_form| %>
  <div data-controller="finance-input-toggle" class="flex flex-col gap-4">

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <% items = {keys: %w[nombres apellidos dpi denominacion_nombre_comercial nit], values: @clients} %>
      <%= render(SearchableDropdownComponent.new(form: detail_form, field: :applicant_1_display_text, hidden_field: :applicant_1_id,
                                                 items: items,
                                                 config: @control_unit.searchable_dropdown_config(applicant_number=1))) %>
      <%= render(SearchableDropdownComponent.new(form: detail_form, field: :applicant_2_display_text, hidden_field: :applicant_2_id,
                                                 items: items,
                                                 config: @control_unit.searchable_dropdown_config(applicant_number=2))) %>
    </div>

    <div class="mb-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Forma de pago:</h5>
      <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :purchase_date) %>
          <%= datepicker_field(detail_form, :purchase_date) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :selling_price) %>
          <%= detail_form.text_field(:selling_price, value: format_decimal(detail_form.object.selling_price), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :seller) %>
          <%= detail_form.text_field(:seller, class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :estimated_delivery_date) %>
          <%= datepicker_field(detail_form, :estimated_delivery_date) %>
        </div>
        <div class="<%= div_field_form_class %> mr-4">
          <%= form_label(detail_form, :currency) %>
          <%= detail_form.select :currency, %w[GTQ USD],
                                 {},
                                 { class: short_field_class,
                                   data: { quotation_target: "currency", action: "input->quotation#changeCurrency" }
                                 } %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= detail_form.label :includes_deed_expenses, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <label class="inline-flex items-center cursor-pointer">
            <span class="me-3 text-sm font-medium text-gray-900 dark:text-gray-300">No</span>
            <%= detail_form.check_box :includes_deed_expenses, class: "sr-only peer" %>
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Si</span>
          </label>
        </div>
      </div>
    </div>

    <div class="mb-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Datos extra del inmueble:</h5>
      <div data-controller="dynamic-fields" data-dynamic-fields-target="container" data-dynamic-fields-input-class-value="input_pair" data-dynamic-fields-max-fields-value="6" class="grid gap-2 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :construction_area) %>
          <%= detail_form.text_field(:construction_area, value: format_decimal(detail_form.object.construction_area), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :garden_area) %>
          <%= detail_form.text_field(:garden_area, value: format_decimal(detail_form.object.garden_area), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :parking_spaces) %>
          <%= detail_form.text_field(:parking_spaces, class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :balcony_area) %>
          <%= detail_form.text_field(:balcony_area, value: format_decimal(detail_form.object.balcony_area), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :total_area) %>
          <%= detail_form.text_field(:total_area, value: format_decimal(detail_form.object.total_area), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :parking_type) %>
          <%= detail_form.text_field(:parking_type, class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Campos dinámicos</label>
          <button type="button" data-action="dynamic-fields#addInput" id="add_input_btn" class="w-full block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Agregar
          </button>
        </div>
        <!-- Hidden template for key-value pairs -->
        <template data-form-target="inputTemplate">
          <div>
            <input type="text" name="dynamic[key][]" placeholder="Key">
            <input type="text" name="dynamic[value][]" placeholder="Value">
          </div>
        </template>

        <% if @sale_detail&.property_dynamic_fields.present? && @sale_detail.property_dynamic_fields.length > 0 %>
          <% @sale_detail.property_dynamic_fields&.each_with_index do |json_obj, index| %>
            <div>
              <p class="w-full text-lg text-center text-gray-900 dark:text-white"><%= index + 1 %></p>
              <div class="input_pair flex w-full justify-between">
                <% json_obj.each do |key, value| %>
                  <input type="text"
                         name="key<%= index + 1 %>"
                         placeholder="Nombre"
                         value="<%= key %>"
                         class="w-[49%] p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                  <input type="text"
                         name="value<%= index + 1 %>"
                         placeholder="Variable"
                         value="<%= value %>"
                         class="w-[49%] p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div>
            <p class="w-full text-lg text-center text-gray-900 dark:text-white">1</p>
            <div class="input_pair flex w-full justify-between">
              <input type="text" name="key1" placeholder="Nombre" class="w-[49%] p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <input type="text" name="value1" placeholder="Variable" class="w-[49%] p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Enganche:</h5>
      <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :cash_advance) %>
          <%= detail_form.text_field(:cash_advance, value: format_decimal(detail_form.object.cash_advance), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :down_payment) %>
          <%= detail_form.text_field(:down_payment, value: format_decimal(detail_form.object.down_payment), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :cash_advance_balance) %>
          <%= detail_form.text_field(:cash_advance_balance, value: format_decimal(detail_form.object.cash_advance_balance), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :installment) %>
          <%= detail_form.text_field(:installment, class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :monthly_installment) %>
          <%= detail_form.text_field(:monthly_installment, value: format_decimal(detail_form.object.monthly_installment), class: field_class) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :maximum_day) %>
          <%= detail_form.select :maximum_day, options_for_select(1..31, detail_form.object.maximum_day), { include_blank: true }, class: field_class %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :cash_advance_interest_rate) %>
          <%= detail_form.text_field(:cash_advance_interest_rate, value: format_decimal(detail_form.object.cash_advance_interest_rate), class: field_class) %>
        </div>
      </div>
    </div>

    <div class="mb-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Financiamiento</h5>
      <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :finance_type) %>
          <%= detail_form.select :finance_type, ["Propio", "Bancario", "No aplica"], { include_blank: true },
                                 { class: field_class,
                                   data: { finance_input_toggle_target: "select", action: "change->finance-input-toggle#toggleInputs" } } %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :bank) %>
          <%= detail_form.text_field(:bank, class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :finance_plan) %>
          <%= detail_form.text_field(:finance_plan, class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :annual_interest_rate) %>
          <%= detail_form.text_field(:annual_interest_rate, value: format_decimal(detail_form.object.annual_interest_rate), class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :request_number) %>
          <%= detail_form.text_field(:request_number, class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :file) %>
          <%= detail_form.text_field(:file, class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :balance) %>
          <%= detail_form.text_field(:balance, value: format_decimal(detail_form.object.balance), class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :term) %>
          <%= detail_form.text_field(:term, class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :payment_day) %>
          <%= detail_form.select :payment_day, options_for_select(1..31, detail_form.object.payment_day), { include_blank: true }, class: field_class, data: { finance_input_toggle_target: "input" } %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :self_financing_interest_rate) %>
          <%= detail_form.text_field(:self_financing_interest_rate, value: format_decimal(detail_form.object.self_financing_interest_rate), class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
        <div class=<%= div_field_form_class %>>
          <%= form_label(detail_form, :monthly_payment) %>
          <%= detail_form.text_field(:monthly_payment, value: format_decimal(detail_form.object.monthly_payment), class: field_class, data: { finance_input_toggle_target: "input" }) %>
        </div>
      </div>
      <div class=<%= div_field_form_class %>>
        <%= form_label(detail_form, :remarks) %>
        <%= detail_form.text_area(:remarks, class: field_class, data: { finance_input_toggle_target: "input" }) %>
      </div>
    </div>
  </div>
<% end %>
