<div class="mx-auto max-w-screen-xl px-2 py-4">

  <p class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">Extras generales</p>
  <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
<br>
<div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center md:space-x-3 flex-shrink-0">
<%= link_to new_extra_path, data: {turbo_frame: "_top"}, class: "flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" do %>
<svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
</svg>
Agregar Extra General
<% end %>
</div>
<%= search_form_for @q, data: { turbo_frame: :results }, url: extras_path, method: :get do |f| %>
<%= f.label :name_cont, class: div_label_form_class %>
<%= search_field_with_icon(f, :name_cont) %>
<% end %>
<%= turbo_frame_tag :results do %>
<br>
<div class="overflow-x-auto">
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-4 py-3">#</th>
      <th scope="col" class="px-4 py-3">Nombre</th>
      <th scope="col" class="px-4 py-3">[Proyecto, Tipo]</th>
      <th scope="col" class="px-4 py-3">Precio (Q)</th>
      <th scope="col" class="px-4 py-3">Precio ($)</th>
      <th scope="col" class="px-4 py-3">Medida</th>
      <th scope="col" class="px-4 py-3">Descripción</th>
      <th scope="col" class="px-4 py-3">Imagen</th>
      <th scope="col" class="px-4 py-3">Fecha de creación</th>
      <th scope="col" class="px-4 py-3">Fecha de actualización</th>

      <th scope="col" class="<%= th_td_class %>"> Acciones</th>
    </tr>
  </thead>
  <tbody id="extras_generales_content">

  </tbody>
</table>
</div>
<%= turbo_frame_tag :pagination, loading: :lazy, src: extras_path(format: :turbo_stream, q: @query) %>
<% end %>
</div>
</div>
